<h2>volume-viewer works!</h2>
<x3d width='500px' height='400px'> 
    <scene> 
     <shape> 
        <appearance> 
          <material diffuseColor='1 0 0'></material> 
        </appearance> 
        <box></box> 
     </shape> 
     <transform translation='-3 0 0'> 
       <shape> 
          <appearance> 
            <material diffuseColor='0 1 0'></material> 
          </appearance> 
          <cone></cone> 
       </shape> 
     </transform> 
     <transform translation='3 0 0'> 
       <shape> 
          <appearance> 
            <material diffuseColor='0 0 1'></material> 
          </appearance> 
          <sphere></sphere> 
       </shape> 
     </transform> 
    </scene> 
 </x3d> 